package ${daoImplType.packageName};

import junit.framework.Assert;
import ${entityType};
import ${entityType}TestUtils;

import org.hibernate.FlushMode;
import org.hibernate.SessionFactory;
import org.hibernate.classic.Session;
import org.junit.Before;
import org.junit.Test;
import org.junit.runner.RunWith;
import org.springframework.orm.hibernate3.HibernateObjectRetrievalFailureException;
import org.unitils.UnitilsJUnit4TestClassRunner;
import org.unitils.inject.annotation.InjectInto;
import org.unitils.inject.annotation.TestedObject;
import org.unitils.mock.Mock;

@RunWith(UnitilsJUnit4TestClassRunner.class)
public class ${daoImplType.className}UnitTest {

    private Mock<Session> session;
    
    @InjectInto(property="sessionFactory")
    private Mock<SessionFactory> sessionFactory;
    
    @TestedObject
    private ${daoImplType.className} ${entity.name.objectName}Dao;
    
    @Before
    public void setUp() {
        
        // Prime the SessionFactor to return mock Session
        session.returns(FlushMode.COMMIT).getFlushMode();
        sessionFactory.returns(session.getMock()).openSession();
        
    }
    
    @Test
    public void testLoadExisting() {
    
        ${entityType.className} expected = ${entityType.className}TestUtils.createDefaultInstance();
        session.returns(expected).load(${entityType.className}.class, ${entityType.className}TestUtils.getDefaultIdentity());
        ${entityType.className} actual = ${entity.name.objectName}Dao.load${entityType.className}(${entityType.className}TestUtils.getDefaultIdentity());
        session.assertInvoked().load(${entityType.className}.class, ${entityType.className}TestUtils.getDefaultIdentity());
        Assert.assertEquals(expected, actual);
    
    }
    
    
    @Test (expected=RuntimeException.class)
    public void testLoadNonExisting() {

        session.raises(HibernateObjectRetrievalFailureException.class).load(${entityType.className}.class, ${entityType.className}TestUtils.getDefaultIdentity());
        ${entity.name.objectName}Dao.load${entityType.className}(${entityType.className}TestUtils.getDefaultIdentity());
    
    }
    
    @Test
    public void testFindExisting() {
    
        ${entityType.className} expected = ${entityType.className}TestUtils.createDefaultInstance();
        session.returns(expected).get(${entityType.className}.class, ${entityType.className}TestUtils.getDefaultIdentity());
        ${entityType.className} actual = ${entity.name.objectName}Dao.find${entityType.className}(${entityType.className}TestUtils.getDefaultIdentity());
        session.assertInvoked().get(${entityType.className}.class, ${entityType.className}TestUtils.getDefaultIdentity());
        Assert.assertEquals(expected, actual);
    
    }
    
    @Test
    public void testFindNonExisting() {

        session.returns(null).get(${entityType.className}.class, ${entityType.className}TestUtils.getDefaultIdentity());
        ${entityType.className} actual = ${entity.name.objectName}Dao.find${entityType.className}(${entityType.className}TestUtils.getDefaultIdentity());
        Assert.assertNull(actual);
    
    }
    
    @Test
    public void testCreate() {
        
        ${entityType.className} expected = ${entityType.className}TestUtils.createDefaultInstance();
        ${entity.name.objectName}Dao.create${entityType.className}(expected);
        session.assertInvoked().persist(expected);
        
    }
    
    @Test
    public void testUpdate() {
        
        ${entityType.className} expected = ${entityType.className}TestUtils.createDefaultInstance();
        ${entity.name.objectName}Dao.update${entityType.className}(expected);
        session.assertInvoked().merge(expected);
                
    }
    
    @Test
    public void testDelete() {
        
        ${entityType.className} expected = ${entityType.className}TestUtils.createDefaultInstance();
        session.returns(expected).load(${entityType.className}.class, ${entityType.className}TestUtils.getDefaultIdentity());
        ${entity.name.objectName}Dao.remove${entityType.className}(${entityType.className}TestUtils.getDefaultIdentity());
        session.assertInvoked().delete(expected);
                
    }
   
}