DROP ALL OBJECTS;

#foreach($schema in $database.schemaNames)
#if($schema != "PUBLIC")
CREATE SCHEMA "$schema";
#end
#end

##create tables
#foreach ($table in $database.tables)
create table "${database.name}"#if($table.name.schemaName)."${table.name.schemaName}"#else."PUBLIC"#end."${table.name.objectName}" (
#foreach($column in $table.columns)
	"${column.name}" ${column.columnType}#if($column.specification) ${column.specification}#end#if($column.notNull) not null#end#if($velocityHasNext),
#end 
#end 

);

#end
##create primary key constraints for tables
#foreach ($table in $database.tables)
#if ($table.primaryKey)
alter table "${database.name}"#if($table.name.schemaName)."${table.name.schemaName}"#else."PUBLIC"#end."${table.name.objectName}"
    add constraint #if($table.primaryKey.name.schemaName)"${table.primaryKey.name.schemaName}".#else"PUBLIC".#end"${table.primaryKey.name.objectName}" primary key (#foreach($column in $table.primaryKey.columns)"$column.name"#if($velocityHasNext),#end#end);

#end
#end
##create unique constraints for tables
#foreach ($table in $database.tables)
#foreach ($uniqueKey in $table.uniqueKeys)
alter table "${database.name}"#if($table.name.schemaName)."${table.name.schemaName}"#else."PUBLIC"#end."${table.name.objectName}"
    add constraint #if($uniqueKey.name.schemaName)"${uniqueKey.name.schemaName}".#else"PUBLIC".#end"${uniqueKey.name.objectName}" unique (#foreach($column in $uniqueKey.columns)"$column.name"#if($velocityHasNext),#end#end);

#end
#end
##create foreign keys from relationships
#foreach ($table in $database.tables)
#foreach ($foreignKey in $table.importedForeignKeys)
alter table "${database.name}"#if($table.name.schemaName)."${table.name.schemaName}"#else."PUBLIC"#end."${table.name.objectName}"
    add constraint #if($foreignKey.name.schemaName)"${foreignKey.name.schemaName}".#else"PUBLIC".#end"${foreignKey.name.objectName}" foreign key (#foreach($columnConstraint in $foreignKey.columnConstraints)"$columnConstraint.referencingColumn.name"#if($velocityHasNext),#end#end) references "${database.name}"#if($foreignKey.referencedTable.name.schemaName)."${foreignKey.referencedTable.name.schemaName}"#else."PUBLIC"#end."${foreignKey.referencedTable.name.objectName}"(#foreach($columnConstraint in $foreignKey.columnConstraints)"${columnConstraint.referencedColumn.name}"#if($velocityHasNext),#end#end);

#end
#end